:root {
    --standard: rgba(255, 255, 255, 0.8);
    --none: rgba(255, 255, 255, 0.4);
    --fire: rgba(255, 0, 0, 0.4);
    --ice: rgba(0, 119, 255, 0.4);
    --wind: rgb(0, 255, 0, 0.4);
    --para: rgba(238, 255, 0, 0.4);
    --poison: rgb(252, 0, 252, 0.4);
}

.content {
    margin: 6em auto;
    display: flex;
    display: -webkit-flexbox;
    flex-direction: column;
    text-align: center;
    animation: animation .5s;
}

.title {
    margin: 20px 0;
    display: inline-block;
    font-size: 3em;
}

.boss-list {
    position: relative;
    margin: 15px auto 0 auto;
    display: flex;
    display: -webkit-flexbox;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.bosses {
    display: grid;
    grid-gap: 3em;
    grid-template-columns: repeat(2, 1fr);
}

.boss {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border: 5px solid white;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

.boss span {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, 0.7);
}

.boss .left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.boss .left h2 {
    padding: 5px;
    border-bottom: 1px solid white;
}

.boss img {
    border-bottom: 1px solid white;
    width: 100%;
}

.left .left-bottom {
    display: grid;
    height: 14%;
    grid-template-columns: repeat(5, 1fr);
    font-size: 1.3em;
}

.left .left-bottom span:first-of-type {
    grid-row: span 2;
}

.sv {
    background-color: var(--none);
}

.of,
.cp,
.cot105 {
    background-color: var(--fire);
}

.sot,
.ud,
.cot95 {
    background-color: var(--ice);
}

.ur {
    background-color: var(--wind);
}

.tcfh,
.tih {
    background-color: var(--para);
}

.wh,
.cot100 {
    background-color: var(--poison);
}



.boss .right {
    display: grid;
    width: 50%;
    grid-template-columns: repeat(5, 1fr);
}

.right span {
    height: 100%;
    text-align: justify;
    font-size: 1.3em;
}

.right span.standard {
    color: black;
    background-color: var(--standard);
}

.right span:last-child {
    padding: 0 15px;

    grid-column: span 5;
    grid-row: span 2;
    height: 100%;
}

#cot95 .right span:last-child,
#cot100 .right span:last-child,
#cot105 .right span:last-child {
    grid-column: span 5;
    grid-row: span 9;
}

@media(max-width:1300px) {
    header {
        padding: 0.5em 5em;
    }

    .navicon {
        margin-right: 40px;
        display: block;
        cursor: pointer;
    }

    .navbar {
        display: none;
        animation: animation .3s;
    }

    .navbar.active {
        position: fixed;
        top: 0;
        left: 0;

        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;

        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .navbar.active > li {
        margin: 30px auto;
        font-size: 2em;
    }

    .bosses {
        display: grid;
        grid-gap: 2.5em;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(max-height:600px) {
    .navbar.active > li {
        margin: 20px auto;
        font-size: 1.5em;
    }
}

@keyframes animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
