.overflow {
    overflow: hidden;
}

.content {
    margin: 6em 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 80vh;

    animation: animation .5s;
}

.title {
    margin: 20px 0;
    display: inline-block;
    font-size: 3em;
}

.selector select {
    padding: 5px 10px;
    font-size: 1.2em;
}

.weapons-list {
    position: relative;
    margin: 15px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

#weapons {
    position: absolute;
    top: 0;
    transition: 0.5s ease;
}

.hide {
    z-index: -1;
    opacity: 0;
}

.hide-more {
    display: none;
}

.show {
    z-index: 0;
    opacity: 1;
}

.grid50,
.grid60,
.grid70,
.grid80,
.grid90,
.grid100 {
    display: flex;
    flex-direction: column;
    animation: animation .5s;
}

.type {
    margin: 0.5em 0;
    display: flex;
    align-items: center;
    text-align: center;

    font-size: 2em;
    letter-spacing: 2.5px;
    font-weight: 100;
}

.type::before,
.type::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid;
}

.type::before {
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)) 10;
    margin-right: .25em;
}

.type::after {
    border-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)) 10;
    margin-left: .25em;
}

.s-sword,
.sword {
    display: grid;
    grid-gap: 1.5em 3em;
    grid-template-columns: repeat(4, 1fr);
}

.weapon {
    /*    margin-bottom: 2em;*/
    display: flex;
    align-items: center;
    min-width: 350px;
    flex-direction: column;
}

.weapon > h3 {
    margin: 5px 0;
    font-size: 1.8em;
}

.stat {
    margin: 10px 0;
    padding: 10px;
    display: grid;
    justify-items: left;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid white;
    border-radius: 3px;
    width: 370px;
    background-color: rgba(0, 0, 0, 0.5);
}

.stat span {
    position: relative;
    margin: 3px 7px;
    width: 90%;
    font-size: 1.8em;
    text-align: left;
}

.weapon p {
    font-size: 1.5em;
}

@media(max-width:1670px) {
    .overflow-RWD {
        overflow-x: hidden;
    }

    .s-sword,
    .sword {
        grid-gap: 2em 3em;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width:1570px) {

    .s-sword,
    .sword {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width:1300px) {
    header {
        padding: 0.5em 5em;
    }

    .navicon {
        margin-right: 40px;
        display: block;
        cursor: pointer;
    }

    .navbar {
        display: none;
        animation: animation .3s;
    }

    .navbar.active {
        position: fixed;
        top: 0;
        left: 0;

        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;

        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .navbar.active > li {
        margin: 30px auto;
        font-size: 2em;
    }

    .s-sword,
    .sword {
        grid-gap: 2em 4em;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:800px) {

    .s-sword,
    .sword {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(max-height:600px) {
    .navbar.active > li {
        margin: 20px auto;
        font-size: 1.5em;
    }
}

@keyframes animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
