.content {
    margin: 6em 0;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    text-align: center;
    animation: animation .5s;
}

.title {
    margin: 20px 0;
    display: inline-block;
    font-size: 3em;
}

.selector select {
    padding: 5px 10px;
    font-size: 1.2em;
}

.tips{
    margin-top:1.5em;
    font-size: 1.5em;
}

.drop-lists {
    position: relative;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.quest {
    margin: 0.5em 0;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 3em;
    letter-spacing: 2.5px;
    font-weight: 100;
}

.quest::before,
.quest::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid;
}

.quest::before {
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)) 10;
    margin-right: .25em;
}

.quest::after {
    border-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)) 10;
    margin-left: .25em;
}

.lists {
    margin-bottom: 2em;
    display: grid;
    width: 100%;
    grid-gap: 2em 0em;
    grid-template-columns: repeat(2, 1fr);
}

.lists.hide{
    display: none;
}

.lists h2{
    grid-column-start: span 2;
}

.list {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border: 5px solid white;
    border-radius: 5px;
    height: 100%;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.7);
}

.list .type {
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid white;
    letter-spacing: 1px;
}

.rarity,
.B_chest,
.N_chest {
    margin: auto;
    text-align: center;
    font-size: 1.4em;
}

.B_chest{
    width: 35%;
}

.N_chest{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 55%;
    color:#cccccc;
    font-size: 1.2em;
}

.rarity {
    width: 10%;
}

.type span {
    padding: 7px 0;
    display: block;
}



@media(max-width:1300px) {
    header {
        padding: 0.5em 5em;
    }

    .navicon {
        margin-right: 40px;
        display: block;
        cursor: pointer;
    }

    .navbar {
        display: none;
        animation: animation .3s;
    }

    .navbar.active {
        position: fixed;
        top: 0;
        left: 0;

        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;

        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .navbar.active > li {
        margin: 30px auto;
        font-size: 2em;
    }

    .lists {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }

    .lists h2{
        grid-column-start: span 1;
    }
}

@media(max-height:600px) {
    .navbar.active > li {
        margin: 20px auto;
        font-size: 1.5em;
    }
}

@keyframes animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
